.add-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.add-comment input {
    padding: 25px 10px;
}

.submit-button {
    border-style: none;
    border-radius: 2px;
    background-color: rgb(123, 71, 255);
    color: white;
    padding: 12px 20px;
}

/* Comment.jsx */

.comment {
    padding: 10px 2.5px;
    margin: 10px 0;
}

.comment div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-comment {
    display: flex;
    column-gap: 7.5px;
    margin-bottom: 12.5px;
}

.content {
    margin-left: 12.5px;
}

.edit-comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 7.5px;
    padding: 10px;
}

.edit-comment-form input {
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}
